<section class="about not_found">
    <div class="container">
        <div class="about_content">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/homepage" href="">Home</a></li>
                <li class="breadcrumb-item active">404 Not Found</li>
            </ol>
        </div>
    </div>
</section>
<div class="alert alert-danger" role="alert">
    <h1 class="text-center"><b>Sorry, we couldn't find what you're looking for!!!!</b></h1>
    <hr>
    <p class="text-center">Please check your URL!</p>
    <a href="" routerLink="/homepage" class="text-center btn button_1 mt-2">Back To Home</a>
</div>