<div class="dashBoard">
  <div class="sidenav">
    <div>
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" alt="" width="25" height="25" class="d-inline-block align-text-top img-fluid"
          style="margin-top: -5px;">
        <span style="color: #fff;" class="">
          Krypto</span>
        <span style="color:  #f9b707;" class="fw-bold">Pesa</span>
      </a>
    </div>

    <a href="#" style="margin-top: 20px ;" class="list-group-item list-group-item-action py-2 ripple"
      aria-current="true">
      <i class="fa-solid fa-house fa-fw me-2"></i>
      <span> Home </span>
    </a>

    <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
      <i class="fa-solid fa-user fa-fw me-2"></i>
      <span>User </span>
    </a>

    <a href="#" routerLink="/login" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fa-solid fa-right-from-bracket me-2"></i>
      <span>Sign Out </span>
    </a>

    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fa-solid fa-envelope fa-fw me-2"></i>
      <span>Confirm Email</span>
    </a>

    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
      <i class="fa-solid fa-lock fa-fw me-2"></i>
      <span>Recover Password</span>
    </a>
  </div>
  <div class="main">
    <div class="container">
      <a class="navbar-brand"  href="#">
        <h2><span class="scroll">
            <i class="fa-solid fa-left-long"></i></span>
          Dashboard</h2>
      </a>
      <div *ngIf="loading$ | async" class="spinner-border text-success text-center" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <!-- <mat-progress-spinner value="accent" mode="indeterminate" *ngIf="loading$ | async"></mat-progress-spinner> -->

      <div>
         <!-- <p>Hello {{userData?.email}}
           <span><i class="fa-solid fa-user fa-fw"></i></span>
         </p> -->

      </div>
      <div class="d-flex nav-item" style="margin-top: -5%; margin-left: 90%;">
        <button type="submit" class="button_1 btn">
          <a style="text-decoration: none; color: #fff;" routerLink="/homepage" href="">Home</a></button>
      </div>
    </div>
    <hr>
    <div class="container mt-1">
      <div class="dash-table">
        <div class="container">
          <div class="row">
            <div class="account col-md-9 col-sm-7">
              <div class="table-responsive table-responsive-sm table-responsive-md">
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th>CryptoCoin</th>
                      <th>Current Price</th>
                      <th>24h high</th>
                      <th>24h low</th>
                      <th>24h Volume</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{solData?.name}}</td>
                      <td><span class="value">{{solData?.market_data.current_price.usd | currency}}</span></td>
                      <td>{{solData?.market_data.high_24h.usd | currency}}</td>
                      <td>{{solData?.market_data.low_24h.usd | currency}}</td>
                      <td>{{solData?.market_data.market_cap.usd | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-2 col-sm-3 mr-1">
              <button type="submit" class="auth1 btn btn-lg text-center">Trade | Deposit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3 m-2">
      <div class="row">
        <div class="account col-md-4 col-sm-3">
          <div style="background: #313135;border-radius: 4px;">
            <h2 class="text-center">Total Balance</h2>
          </div>
          <div class="balance mt-5 d-flex ">
            <div class="bal">
              <hr>
              <h1>
                <span class="value">{{solData?.market_data.current_price.usd | currency}}</span>
              </h1>
            </div>

            <h2>
              <span class="value">{{solData?.market_data.current_price.usd | currency}}</span>
            </h2>

          </div>
          <hr>
          <div class="d-flex mt-4">
            <button (click)="openDialog()" type="submit" class="pay1 btn text-center me-2">
              Send Money
            </button>
            <button (click)="openDialog2()" type="submit" class="pay btn btn-lg text-center">
              PayBills
            </button>
          </div>
        </div>
        <div class="account col-md-4 col-sm-3 m-2">
          <div style="background: #313135;border-radius: 4px;">
            <h2 class="text-center"> Transaction Summary </h2>
          </div>
          <div class="row " style="padding: 2px;">
            <div class="summary col-md-3" style="margin-left: 7%;">
              <div class="sum-icon">
                <span>
                  <i class="fa-solid fa-bolt"></i>
                </span>
              </div>
              <h2>Weekly</h2>
              <h3>$3.45k</h3>
            </div>

            <div class="summary col-md-4">
              <div class="sum-icon">
                <span>
                  <i class="fa-solid fa-arrow-trend-up"></i>
                </span>
              </div>
              <h2>Monthly</h2>
              <h3>$3.45k</h3>
            </div>

            <div class="summary col-md-3">
              <div class="sum-icon">
                <span>
                  <i class="fa-solid fa-bolt"></i>
                </span>
              </div>
              <h2>Yearly </h2>
              <h3>$3.45k</h3>
            </div>
          </div>
        </div>
        <div class="account col-md-2 col-sm-3 m-3">
          <div style="background: #313135;border-radius: 4px;">
            <h2 class="text-center">Solana</h2>
          </div>
          <img [src]="solData?.image?.large" width="200" class="img-fluid" alt="">
        </div>
      </div>
    </div>

    <div class="container mt-2">
      <div class="row">
        <div class="account col-md-7 col-sm-6 m-1">
          <h1 class="mt-1">Market Overview</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <div class="dropdown">
            <button class="btn dropbtn">Weekly(2022)
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <div class="dropdown-content">
              <button (click)="getSolanaGraphData(1)" class="btn btn-graph">24 Hours</button>
              <button (click)="getSolanaGraphData(7)" class="btn btn-graph mt-1">1 Week</button>
              <button (click)="getSolanaGraphData(30)" class="btn btn-graph mt-1">30 Days</button>
              <button (click)="getSolanaGraphData(365)" class="btn btn-graph mt-1">1 Year</button>
            </div>
          </div>
           <!-- <div *ngIf="loading$ | async" class="spinner-border text-success text-center" role="status">
             <span class="visually-hidden">Loading...</span>
           </div> -->

           <!-- <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>     -->
          <div class="chart-container" >
             <canvas style="width: 350px; height:250px; margin-top: 5px; margin-left: 10px; direction:rtl; position:absolute;" baseChart
                 [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType">
             </canvas>
          </div>
    

        </div>

        <div class="account col-md-4 col-sm- p-2">
          <div class="history">
            <div class="history-title" style="background: #313135;border-radius: 4px; padding-left:2px;">
              <h1>History</h1>
            </div>
            <div class="history-content">
              <div class="row">
                <div class="col-md-2">
                  <img src="../../assets/c-1.png" width="24" alt="">
                </div>
                <div class="col-md-8">
                  <h4 class="fw-bold">BitCoin</h4>
                </div>
                <div class="col-md-2 p-2">
                  <h6>11/02/2022</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <h6 style="color: #00EC42;">+$10,000</h6>
                  <p>Lorem ipsum dolor <br>sit amet consectetur<br>adipisicing elit.</p>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>

            <div class="history-content mt-4">
              <div class="row">
                <div class="col-md-2">
                  <img src="../../assets/c-1.png" width="25" alt="">
                </div>
                <div class="col-md-8">
                  <h4 class="fw-bold">Ethereum</h4>
                </div>
                <div class="col-md-2 p-2">
                  <h6>11/02/2022</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <h6 style="color: #FF2E2E;;">-$50,000</h6>
                  <p>Lorem ipsum dolor <br>sit amet consectetur<br>adipisicing elit.</p>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>

            <div class="history-content mt-4">
              <div class="row">
                <div class="col-md-2">
                  <img src="../../assets/c-1.png" width="25" alt="">
                </div>
                <div class="col-md-8">
                  <h4 class="fw-bold">LitCoin</h4>
                </div>
                <div class="col-md-2 p-2">
                  <h6>11/02/2022</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <h6 style="color: #FF2E2E;;">-$50,000</h6>
                  <p>Lorem ipsum dolor <br>sit amet consectetur<br>adipisicing elit.</p>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>