<hr style="margin-top:-1px;">
<div class="register" style="border-bottom: 1px solid black;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-1">
        <img src="../../assets/c-1.png" width="70px" class="image-fluid bitcoin" alt="lit">
        <img src="../../assets/c-1.png" width="120px" class="image-fluid bitcoin2" alt="lit">
      </div>
      <div class="col-md-6 col-sm-8">
        <div class="card p-2">
          <div class="text-center mt-4">
            <h2>RESET
              <span style="color:#5BC43B; font-weight:bold;"> PASSWORD</span>
            </h2>
            <h6>Enter your Email address and we will send you an <br>
              with a link to reset Your password.
            </h6>
          </div>
          <form [formGroup]="forgetPassForm" class="mt-5">
            <div class="form-group mb-2" [class.error]="forgetPassForm.controls['email'].dirty && 
                forgetPassForm.hasError('required','email')">
              <label for="email">Email</label>
              <br>
              <input class="form-control" type="email" formControlName="email" required>
            </div>
            <small *ngIf="forgetPassForm.controls['email'].dirty &&
               forgetPassForm.hasError('required','email')" class="text-danger">
              Email is required
            </small>
            <div>
              <button type="submit" (click)="forgetPass()" class="auth btn mt-4 bt-lg">RESET</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3 col-sm-1">
        <!-- <img src="../../assets/c-1.png" width="150px" class="image-fluid etherium" alt="lit"> -->
        <img src="../../assets/c-1.png" width="70px" class="image-fluid etherium2" alt="lit">
        <img src="../../assets/c-1.png" width="50px" class="image-fluid etherium3" alt="lit">
      </div>
    </div>
  </div>
</div>